.App {
	display: flex;
	flex: 1;
}

/* Login,Register,ForgetPassword */

.login-card {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 400px;
	padding: 10px;
	box-shadow: 2px 2px 15px #888888;
}

.login-form-forgot {
	float: right;
}
.ant-col-rtl .login-form-forgot {
	float: left;
}
.login-form-button {
	width: 100%;
	font-size: 20px;
}

.collection-create-form_last-form-item {
	margin-bottom: 0;
}

/* Main Page */

.trigger {
	font-size: 18px;
	line-height: 64px;
	padding: 0 24px;
	cursor: pointer;
	transition: color 0.3s;
}

.trigger:hover {
	color: #1890ff;
}

.logo {
	background: #fff;
	color: #1890ff;
	text-align: center;
	width: 100px;
	margin: auto;
}

.site-layout .site-layout-header {
	background: #1890ff;

	width: 100%;
	top: 0;
	overflow: hidden;
	padding: 0;
}

.site-layout .site-layout-background {
	margin: 24px auto 24px auto;
	background: #fff;
	padding: 24px;
	max-width: 973px;
	max-height: 850px;
	border: 1px solid #9bcfff;
	overflow: hidden;
	border-radius: 15px;
}

/* Navigation */

.site-layout-background .go-back-button {
	border: 1px solid #9bcfff;
	border-radius: 5px;
	color: #1890ff;
	position: absolute;
	left: 0;
	bottom: 0;
}
